$primaryBtn: rgb(156, 40, 40);
$textColor: rgb(0, 0 ,0);
$background: rgb(255, 255, 255);
$font-family: sans-serif;
$font-size: 24px;
$header-font-size: 40;
$button-font-size: xx-large;
$hint-text-color: #3498DB;
$hint-background-color: #FFF2CC;
$border-ready: 5px solid black; 